node_modules/
.next/
out/
.sites-runtime/
*.tsbuildinfo
.env*
!.env.example
.next-production/
.next-dev/
*.mp4
*.MOV
*.jpg
*.JPG
!public/reels/*.mp4
!public/reels/*.jpg
!public/reels/*.JPG
!public/hero/*.jpg
!public/hero/*.JPG
!public/photos/*.jpg
!public/photos/*.JPG
!public/photos/*.jpeg
!public/photos/*.webp
